<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Sikeres foglalás</title>
</head>
<body>
    <div class="container mt-5">
        <h1><%= message %></h1>
        <p>Összes foglalás: <%= ordersCount %></p>
        <a href="/order" class="btn btn-primary">Új foglalás</a>
    </div>
    <div class="byelogo">
        <img src="/logo2.jpg" style="display: block; margin: auto";>
    </div>
</body>
</html>
