<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/main.css">
    <title>Üdvözöljük!</title>
</head>
<body>
    <div class="container centered">
        <div>
            <img src="/logo.jpg">
            <h1>Üdvözöljük a "Petrik travels" foglalási alkalmazásban!</h1>
            <p>Ön itt tudja lefoglalni álmai szálláshelyét.</p>
            <a href="/order" class="btn btn-primary">Foglaljon most!</a>
        </div>
    </div>
</body>
</html>
